.btn-primary {
    min-width: 150px;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    background-color: #ff5500;
    border: 0;
    border-radius: 20px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primary.btn-large {
    padding: 10px 15px;
    font-size: 28px;
    line-height: 36px;
    border-right: 30px;
}
.btn-register {
    display: inline-block;
    padding: 5px 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    background-color: #000000;
    border-radius: 20px;
}
.btn-register:hover {
    text-decoration: none;
    background-color: #0069d9;
    border-color: #0062cc;
}