@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* body */
body {
    color: #000000;
    font-family: 'Anuphan', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* container */
.container-content {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1140px;
    width: 100%;
}
.container-content.full {
    max-width: 100%;
}
.container-content.opportunity {
    padding: 100px 25px 50px;
    max-width: 740px;
}
.container-content.timeline {
    padding-left: 35px;
    padding-right: 35px;
}
.container-content h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
}
.container-content.opportunity h2 {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 48px;
}
.container-content h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
.container-content h3 p {
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
.container-divider {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    border-top: 2px solid #dddddd;
}

/* content bannner */
.content-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.content-banner.no-text {
    height: 450px;
}
.content-banner.no-text img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
/* .content-banner .background-overlay {
    width: 100%;
    background-color: rgba(11,151,80,0.9);
}
.content-banner p {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
.content-banner p:last-child {
    margin-bottom: 0;
} */

/* content with icon */
.content-with-icon {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}
.content-with-icon .content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.content-with-icon.lesson .content {
    row-gap: 70px;
    column-gap: 20px;
}
.content-with-icon.lesson .box-item {
    width: calc(50% - 10px);
    min-height: 240px;
    text-align: center;
}
.content-with-icon img,
.content-with-icon img {
    display: block;
    margin: 0 auto;
    height: 80px;
}
.content-with-icon p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
}

/* content timeline */
.content-timeline .timeline {
    margin: 70px auto 0;
    max-width: 740px;
    width: 100%;
}
.content-timeline .timeline .outer {
    border-left: 5px solid #ff5500;
}
.content-timeline .timeline .card {
    position: relative;
    margin: 0 0 50px 40px;
    background: transparent;
    border: 0;
}
.content-timeline .timeline .card:last-child {
    margin: 0 0 0 40px;
}
.content-timeline .timeline .card .title {
    margin-bottom: 10px;
    color: #ff5500;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.content-timeline .timeline .card p {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.content-timeline .timeline .card .title::before {
    content: "";
    position: absolute;
    left: -55px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 5px solid #ff5500;
    border-radius: 50%;
}

/* opportunity */
/* .opportunity .point-logo {
    display: block;
    margin: 0 auto 50px;
    max-width: 300px;
    width: 100%;
} */
.opportunity .point-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.opportunity .point-list li {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
/* .opportunity .point-list li img {
    width: 50px;
} */
.opportunity .point-list li p {
    font-size: 22px;
    line-height: 30px;
}

/* course */
.course-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px auto 0;
    max-width: 740px;
    width: 100%;
}
.course-horizontal .box-course {
    margin-top: 20px;
    padding: 40px 20px;
    max-width: 360px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
}
.course-horizontal .box-course:nth-child(1) {
    max-width: 740px;
}
.course-horizontal .box-course:nth-child(1),
.course-horizontal .box-course:nth-child(4),
.course-horizontal .box-course:nth-child(5) {
    background-image: linear-gradient(#FDDF41 , #FA7498);
}
.course-horizontal .box-course:nth-child(2) {
    background-image: linear-gradient(#2BFF87 , #553FDF);
}
.course-horizontal .box-course:nth-child(3),
.course-horizontal .box-course:nth-child(6) {
    background-image: linear-gradient(#2CD1FF , #F88BFE);
}
.course-horizontal .box-course:nth-child(7) {
    background-image: linear-gradient(#B1A6CE , #DB52C4);
}
.course-horizontal .box-course img {
    display: block;
    margin: 0 auto 20px;
    width: 70px;
}
.course-horizontal .box-course h4 {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}
.course-horizontal .box-course p {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.course-horizontal .box-course.first p {
    font-size: 30px;
    line-height: 38px;
}