header {
    padding: 0 !important;
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
}
header .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
header .logo-text {
    font-size: 30px;
    font-weight: bold;
}
header .menu-hamburger {
    display: none;
}
header .menu-hamburger i {
    font-size: 30px;
}
header .menu-button {
    padding: 10px 10px !important;
    font-family: 'Anuphan', sans-serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    background-color: transparent !important;
    border-radius: 20px !important;
}
header .menu-button:hover {
    background-color: #ff5500 !important;
}
header .menu-button i {
    margin-left: 5px;
}
.menu-list {
    padding: 0 !important;
    max-width: 240px;
    background-color: #222222 !important;
    border: 0;
}
.menu-list .menu-item {
    padding: 8px 15px !important;
    color: #ffffff !important;
    font-family: 'Anuphan', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 0 !important;
}
.menu-list .menu-item:hover,
.menu-list .menu-item:focus {
    background-color: #ff5500 !important;
}
.menu-mobile {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background-color: #111111;
    transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    overflow-y: auto;
    z-index: 9000;
}
.menu-mobile.open {
    left: 0;
}
.menu-mobile .menu-close {
    display: block;
    padding: 15px 20px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #444444;
}
.menu-mobile .menu-close i {
    color: #ffffff;
    font-size: 30px;
}
.menu-mobile .menu-header button {
    justify-content: flex-start;
    padding: 10px 20px;
    width: 100%;
    color: #ffffff;
    font-family: 'Anuphan', sans-serif !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    white-space: normal;
    border-bottom: 1px solid #444444;
}
.menu-mobile .menu-header button:hover {
    background-color: #ff5500;
}
.menu-mobile .menu-header button i {
    margin-left: 10px;
}
.menu-mobile .menu-body {
    padding: 0;
}
.menu-mobile .menu-body .menu-item a {
    display: block;
    padding: 10px 20px 10px 30px;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    background-color: #222222;
    border-bottom: 1px solid #444444;
}
.menu-mobile .menu-body .menu-item a:hover {
    background-color: #ff5500;
}
.menu-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 8000;
}
.menu-backdrop.open {
    display: block;
}
.footer .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer .content-left {
    flex: 1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
/* .footer .content-left .photo {
    display: block;
    margin-bottom: 15px;
    width: 130px;
} */
.footer .content-center {
    flex: 1;
}
.footer .content-center h3,
.footer .content-right h3 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}
.footer .content-center .link-service a {
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #5C91FF;
}
.footer .content-center .link-service a:hover {
    text-decoration: underline;
}
.footer .content-right {
    max-width: 355px;
    width: 100%;
}
.footer .content-right .input-email {
    padding: 0 10px;
    width: 250px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    border: 0;
    border-radius: 5px;
}
.footer .content-right .link-social {
    display: flex;
    margin-top: 25px;
    gap: 10px;
}
.footer .content-right .link-social .social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.footer .content-right .link-social .social-item a:hover {
    opacity: 0.8;
}
.footer .content-right .link-social img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.footer .copy {
    padding: 20px 25px;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}