@media only screen and (max-width: 991px) {
    .content-banner.no-text {
        height: 350px;
    }
   .course-horizontal .box-course {
        max-width: 280px;
    }
    .course-horizontal .box-course:nth-child(1) {
        max-width: 580px;
    }
}
@media only screen and (max-width: 767px) {
    .footer .content {
        flex-direction: column;
    }
    .container-content.opportunity {
        padding: 50px 25px;
    }
    .container-content h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .container-content.opportunity h2 {
        margin-bottom: 50px;
    }
    .container-content h3,
    .container-content h3 p,
    .container-content .card .title,
    .container-content .card p {
        font-size: 20px;
        line-height: 28px;
    }
    /* .content-banner p {
        font-size: 40px;
        line-height: 60px;
    } */
    .content-timeline .timeline .card {
        margin: 0 0 30px 40px;
    }
    /* .opportunity .point-logo {
        margin: 0 auto 30px;
    } */
    .opportunity .point-list li p {
        font-size: 20px;
        line-height: 28px;
    }
}
@media only screen and (max-width: 629px) {
    .content-with-icon .content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .content-with-icon.lesson .content {
        row-gap: 50px;
        column-gap: 0;
    }
    .content-with-icon.lesson .box-item {
        width: 100%;
        min-height: auto;
    }
    .course-horizontal {
        margin: 30px auto 0;
    }
    .course-horizontal .box-course:nth-child(1) {
        max-width: 280px;
    }
    .course-horizontal .box-course:nth-child(1) p {
        font-size: 24px;
        line-height: 32px;
    }
    .course-horizontal .box-course h4 {
        font-size: 32px;
        line-height: 40px;
    }
}